<div class="col-6 col-lg-4 p-2">
{{ if eq .type "certification" }}
    <div class="certificate-badge">
      <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
       <img src="{{ .badge }}" alt="{{ .name }}" />
      </a>
    </div>
{{ else if eq .type "soft-skill-indicator" }}
    {{ $predefinedColor := true }}
    {{ if hasPrefix .color "#" }}
        {{ $predefinedColor = false }}
    {{ end }}
    {{ $pct := .percentage }}
    {{ $rightProgress := $pct }}
    {{ $leftProgress := 0 }}
    {{ if ge $pct 50 }}
        {{ $rightProgress = 50 }}
        {{ $leftProgress = sub $pct 50 }}
    {{ end }}
    <div class="circular-progress {{ if $predefinedColor }}{{ .color }}{{ end }}">
    <span class="circular-progress-left">
        <span class="circular-progress-bar circular-progress-percentage-{{ $leftProgress }} circular-progress-percentage-{{ $leftProgress }}-delay"
        {{ if not $predefinedColor }}style="border-color: {{ .color }};"{{ end }}></span>
    </span>
    <span class="circular-progress-right">
        <span class="circular-progress-bar circular-progress-percentage-{{ $rightProgress }}"
        {{ if not $predefinedColor }}style="border-color: {{ .color }};"{{ end }}></span>
    </span>
    <div class="circular-progress-value">{{ .name }}</div>
    </div>
{{ end }}
</div>
